@media screen and (min-width: 768px) {
    body{
        font-size: 14pt;
        padding: 4em 4em;
    }

    .title-name {
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 1024px) {

    img.avatar{
        width: 30%;
    }

    .title-name {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 1440px) {

    body{
        font-size: 15pt;
        padding: 6em 6em;
    }

    .parallex-window{
        height: 30vw;
        margin-top: 5em;
    }

    h2{
        font-size: 35pt;
    }

    h1{
        font-size: 50pt;
    }

    .image{
        width: 80%;
    }

    .icon{
        width: 2em;
        height: auto;
    }

    .screen{
        width: 50%;
        float: left;
        padding: 0.5em;
    }

    .icon{
        width: 2em;
        height: auto;
    }

    .title-name {
        font-size: 2.0rem;
    }

    .project-description p {
        font-size: 12pt;
    }
}
