html{
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 12pt;
    font-family: 'Lora', serif;
    padding: 2em 1em;
}

.header{
    text-align: center;
}

.header p{
    font-family: 'Lora', serif;
    font-style: italic;
}

h1{
    font-family: 'Archivo Black', sans-serif;
    font-size: 2em;
}

.parallex-window{
    background: transparent;
    width: 100vw;
    position: relative;
    height: 10em;
    margin: 1em 0 1em -50vw;
    left: 50%;
}

.icon{
    width: 3em;
    height: 3em;
    margin: 0 0.5em;

}

img.avatar{
    width: 50%;
    max-width: 15em;
    height: auto;
    margin-bottom: 1em;
}

.image{
    width: 90%;
    height:auto;
}

.center-align-block{
    display: block;
    margin: 0 auto;
}

.screen{
    width: 50%;
    float: left;
    padding: 0.5em;
}

hr{
    width: 50%;
    background-color: darkgray;
    height: 1px
}

h2{
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    font-size: 1.5em;
}

#skills > .container .row .col-md-6:first-child{
    font-weight: bold;
    font-style: italic;
}

#work > .row .col-sm-4:first-child {
    font-weight: bold;
    font-style: italic;
    color: brown;
}

#contact > div{
    text-align: center;
}

#contact > div a{
    display: inline-block;
}

ul{
    width: calc(100% - 2em);
}
